<launch>
    <!--Turtlesim Node-->
    <node pkg="turtlesim" type="turtlesim_node" name="node" />
    <node pkg="turtlesim" type="turtle_teleop_key" name="teleop" output="screen" />

    <node pkg="learning_tf" type="turtle_tf_broadcaster" name="br1" args="/turtle1" />
    <node pkg="learning_tf" type="turtle_tf_broadcaster" name="br2" args="/turtle2" />
    <node pkg="learning_tf" type="turtle_tf_listener" name="ls1" />
</launch>